@model OutfitVM

@{
    ViewData["Title"] = "ReviewAanmakenOutfit";
}

<br />

@if(TempData["AllertMessage"] != null)
{
    <div class="alert alert-danger">
    <strong>Oops!</strong> @TempData["AllertMessage"]
    </div>
}

<div class="col-11 mx-auto pt-3">
  <div class="card">
   <div class="card-header bg-primary text-uppercase text-white">
      <h4>Voeg een review toe</h4>
    </div>
   <div class="card-body">
  <form enctype="multipart/form-data" asp-action="ReviewAanmakenOutfit">
 <div class="row">
<div class="col-md-7">
 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
   <label asp-for="review.Titel" class="control-label"></label>
    <input asp-for="review.Titel" class="form-control text-black" style="background-color:white"/>
     <span asp-validation-for="review.Titel" style="color:red"></span>
    </div>
  </div>
 <div class="col-md-7">
<div class="form-group">
 <label asp-for="review.StukTekst" class="control-label">Beschrijving</label>
  <input asp-for="review.StukTekst" class="form-control text-black" style="background-color:white"/>
   <span asp-validation-for="review.StukTekst" style="color:red"></span>
       <input type="submit" value="Save" class="btn btn-primary" style="margin-top:5%"/>  
    </div>
   </div>
   </form>
  </div>

