@model OutfitVM
@{
    ViewData["Title"] = "OutfitRatingGeven";
}

<h1>Geef een rating!</h1>

<form asp-action="OutfitRatingOpslaan">
  <div class="mb-3">
    <label asp-for="rating.Waarde" class="form-label">Waarde</label>
    <input asp-for="rating.Waarde" class="form-control" id="Waarde" aria-describedby="Waarde">
    <span asp-validation-for="rating.Waarde" style="color:red"></span>
    <div id="Waarde" class="form-text">Vul een score in van 1-5</div>
    <input type="submit" value="Save" class="btn btn-primary" style="margin-top:5%" />  
  </div>
 </form>

