@model RatingVM
@{
    ViewData["Title"] = "OutfitRatingGeven";
}

<h1>Geef een rating!</h1>

<form>
  <div class="mb-3">
    <label asp-for="Waarde" class="form-label">Waarde</label>
    <input asp-for="Waarde" class="form-control" id="Waarde" aria-describedby="Waarde">
    <span asp-validation-for="Waarde" style="color:red"></span>
    <div id="Waarde" class="form-text">Vul een score in van 1-5</div>
    <input type="submit" value="Log In" class="btn btn-primary" />  
  </div>
 </form>

