@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Welkom bij OutfitKing</h1>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.btn-primary {
  background-color: limegreen;
  text-decoration-line: none;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}
.btn-primary:hover {
  background-color: lawngreen;
  border-color: lawngreen;
} 

</style>
 </head>
  <body>
   <div class="text-center"> 
   <a asp-controller="Home" asp-action="OutfitToevoegenRedirect" button class="btn-primary">
   <i class="fa fa-plus"></i> Outfit Toevoegen</divbutton> 
  </a> 
  <div class="d-inline"> 
   <a asp-controller="Home" asp-action="OnderdeelToevoegenRedirect" button class="btn-primary" style="margin-left:25px">
   <i class="fa fa-plus"></i> Onderdeel Toevoegen</divbutton> 
  </a> 
   <div class="row">
  <div class="col">
   <div class="leftside d-flex justify-content-center align-items-center" style="margin-top:70px"></div>

  </div>
  <div class="col">
   <div class="rightside d-flex justify-content-center align-items-center" style="margin-top:70px"></div>

  </div>
</div>
</body>
</html>
<i class="bi bi-plus"></i>


 