html {
  font-size: 14px;
}

.leftside, .rightside {
    height: 40vh;
    width: 100%;
}

.leftside {
    background: red;
}

.rightside {
    background: blue;
}

input, select, textarea {
    max-width: 600px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

